body {
    color: #454955;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    background-color: #F3EFF5;
}

/* ----- TYPOGRAPHY ----- */

h1, 
h3 {
    margin: 0;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    color: whitesmoke;
    font-size: 1.75rem;
}

h2 {
    color: #72B01D;
    text-shadow: 0 0 1px #0D0A0B;
    font-size: 1.3rem;
    margin-top: 0;
}

h3 {
    font-size: 1.1rem;
}

p {
    line-height: 1.5;
}

.subheading {
    display: block;
    font-size: 1rem;
    color: #72B01D;
}

.section-two h2 {
    color: inherit;
}

/* ----- LINKS ----- */

a {
    color: #3F7D20;
    text-decoration: underline dotted; 
}

a:hover, 
a:active {
    color: #72B01D;
}

.btn {
    font-size: 1.125rem;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 4.6px;
}

.btn-dark {
    color: #F3EFF5;
    background: #3F7D20;
}

.btn-mid {
    color: #F3EFF5; 
    background: #72B01D; 
}

.btn-light {
    color: #72B01D; 
    background: #F3EFF5;
}

.btn:hover, 
.btn:active {
    color: #F3EFF5;
    background-color: #454955;
}

/* ----- LAYOUT ----- */

header, 
section, 
footer {
    padding: 1.25em 0;
}

header, 
.section-two {
    background-color: #0D0A0B;
}

.section-two {
    color: whitesmoke;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.main-image {
    width: 100%;
    display: block;
    max-width: 640px;
    margin: 0 auto 2em;
    border-radius: 1em;
    box-shadow: 0 0 10px #0D0A0B;
}

.section-two-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.feature-image {
    width: 100%;
    border-radius: 4.6px;
}

.feature-item {
    flex: 1 260px;
}

footer {
    text-align: center;
    color: #3F7D20;
}

/* ----- NAVIGATION ----- */

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0.85em 0;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* ----- MEDIA QUERIES ----- */

@media (max-width: 767px) {
    header {
        text-align: center;
    }

    nav {
        margin-top: 1.5em;
    }
 
    li:not(:last-child) {
        border-bottom: 1px dotted #F3EFF5;
    }  
}

@media (min-width: 768px) {
    header,
    section,
    footer {
        padding: 2.875em 0;        
    }
    
    header .container,
    nav ul {
        display: flex;
    }
    
    header .container {
        justify-content: space-between;
        align-items: center;
    }
    
    nav li {
        margin-left: 1.25em;
    }
    
    .btn {
        display: inline-block;
        margin-right: 0.5em;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    .subheading {
        font-size: 1.25rem;
    }
    
    p {
        font-size: 1.125rem;
    }
}